* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    background-color: hsl(0, 0%, 0%);
    height: 5rem;
}

.logo {
    width: auto;
    height: 4rem;
    margin-block: 0.5rem;
    color: white;
}

.dx-header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;    
}

.dx-header span {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: fit-content;
}

.dx-header span input {
    border: 0;
    background: transparent;
    padding: 0.8rem;
}

.dx-header span input::placeholder {
    color: black;
}

.dx-header span input:focus {
    outline: 0;
}

.lente {
    height: 2rem;
    margin-left: 0.5rem;
}

.favorite {
    height: 2rem;
    margin-left: 1.5rem;
}

nav {
    background: yellow;
    box-shadow: 0 0 0.5rem 0 #212121bb;
}

nav .container {
    width: 60%;
    justify-content: center;
}

.nav-item {
    width: 25%;
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    text-decoration: none;
    color: hsl(0, 12%, 20%);
    text-transform: capitalize;
    font-weight: 600;
}

.nav-item p:hover {
    text-decoration: underline;
}

.banner {
    height: 16rem;
    box-shadow: inset 0 0 0.5rem 0 #212121bb;
}

.banner .container {
    justify-content: center;
}

.banner-logo {
    height: 12rem;
    margin-block: 2rem;
}

.main {
    background: yellow;
    padding-block: 2.5rem;
}

.main .container {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: 5rem auto auto;
    grid-template-areas:
    "a a"
    "c b"
    "mid b";
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
}

.vetrina {
    grid-area: a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    border-radius: 1rem;
    padding: 2rem;
}

.item1 {
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.3;
    grid-area: mid;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.5rem;
}

.item1 p {
    text-align: center;
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: c;
    background: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.3;
}

.categorie a {
    background: white;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-block: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.categorie a:hover {
    transition: ease-in-out 0.2s;
    transform: scale(1.05);
}

.categorie a:not(:hover) {
    transition: ease-in-out 0.2s;
}

.categorie p {
    margin-bottom: 1rem;
}


.item2 {
    background: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.3;
    grid-area: b;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.item3 {
    grid-area: c;
    background: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.3;
}

.item2 p {
    margin-bottom: 1.3rem;
}

.imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

img {
    width: 60%;
    border-radius: 0.5rem;
}

@media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }

    .item1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1240px) {
    .container {
        width: 90%;
    }

    .item1 {
        font-size: 1.2rem;
    }
}

.gatto {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
}

.gatto img {
    width: 100%;
    border-radius: 100%;
    outline: black solid 2px;
}
.img-long {
    width: 100%;
}